<!--
Autor: Wilenco
Nombre: empresa.html
Descripcion: Página de Informacion de la Empresa (Mision, Vision, Obras que ha realizado la empresa)
Version: 2.1
Fecha de Creacion: Mayo 30/2016
Ultima modificación: Julio 28/2016
 Ultimo modificador: Jorge Ayala
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<title>Wilenco | Empresa </title>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<!--theme style-->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!--JQUERY UPGRADED
<script src="{% static 'js/jquery.min.js' %}"></script>-->
<script src="{% static 'js/jquery-1.9.1.js' %}"></script>
<!--//theme style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Wedding Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- start menu -->
<script src="{% static 'js/simpleCart.min.js' %}"> </script>
<!-- start menu -->
<link href="{% static 'css/memenu.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/empresa.css' %}" rel="stylesheet" type="text/css" media="all" />
<script src="{% static 'js/memenu.js' %}"></script>
<script src="{% static 'js/empresa.js' %}"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>
<!-- /start menu -->
</head>
<body>
<!--header-->
<div class="header-top">
	 <div class="header-bottom">
				<div class="logo">
					<h1><a href="/">Wilenco</a></h1>
				</div>
			 <!---->
			 <div class="top-nav">
				<ul class="memenu skyblue"><li class="grid"><a href="/">Inicio</a></li>
										<li class="active"><a href="/empresa/">Empresa</a>
					</li>
					<li class="grid"><a href="/productos/">Productos</a>
						<!-- <div class="mepanel">
							<div class="row">
								<div class="col1 me-one">
									<h4>Centrales de Aire</h4>
									<ul>
										<li><a href="product.html">Split</a></li>
										<li><a href="product.html">Piso Techo</a></li>
									</ul>
								</div>
								<div class="col1 me-one">
									<h4>Aires Acondicionados</h4>
									<ul>
										<li><a href="product.html">Piso Techo</a></li>
										<li><a href="product.html">Pared</a></li>
									</ul>
								</div>
								<div class="col1 me-one">
									<h4>Extractores</h4>
									<ul>
										<li><a href="product.html">Tipo Hongo</a></li>
										<li><a href="product.html">Centr&iacute;fugos</a></li>
										<li><a href="product.html">Multiwing</a></li>
									</ul>
								</div>
							</div>
						</div> -->
					</li>
					<li class="grid"><a href="/servicio/">Servicios</a></li>
					<li class="grid"><a href="/contacto/">Contacto</a></li>
                    <li class="grid"><div class="cart box_1 text-center" style="margin:initial auto">
					                    <a href="/cotizacion/">
   					                        <div class="total">
   					                            (<span id="simpleCart_quantity" class="simpleCart_quantity"></span>)
                                             </div>
   					                         <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
	   				                    </a>
	   				                    <p><a href="javascript:;" class="simpleCart_empty">Vaciar Carrito</a></p>
			 	                        <div class="clearfix"> </div>
			                        </div>
                    </li>
				</ul>
			 </div>
			 <!---->

			 <div class="clearfix"> </div>
			 <!---->
			 </div>
			<div class="clearfix"> </div>
</div>

<!-- Fin del Header-->
<!---->
<div class="contact">
	  <div class="container">
		 <ol class="breadcrumb">
		  <li class="active"><a href="#" data="#info" class="show">Informaci&oacute;n de la Empresa</a></li>
		 </ol>
			<!--start contact-->

					<div class="row profile">
							<div class="col-md-3">
								<div class="profile-sidebar">
									<!-- SIDEBAR PIC -->
									<div class="profile-userpic">
										  <img src="{% static 'images/logo_empresa.jpg' %}" alt="Samsung-Logos-HD"  class="img-circle" width="100" height="70" style="margin-top:20px">
									</div>
									<!-- SIDEBAR MENU -->
									<div class="profile-usermenu">
										<ul class="nav">
											<li  class="">
												<a href="#"  data="#historia" class="show" >
												Historia</a>
											</li>
											<li  class="">
												<a href="#"  data="#mision" class="show">
												Misi&oacute;n </a>
											</li>
											<li  class="">
												<a href="#"  data="#vision" class="show">
												Visi&oacute;n </a>
											</li>

											<li  class="">
												<a href="#"  data="#obras" class="show" >
												Obras</a>
											</li>
										</ul>
									</div>
									<!-- END MENU -->
								</div>
							</div>
							<div class="col-md-9">
						    <div class="profile-content">
									<div id="mision" class="col-md-6 span_2_of_3">
										<div class="contact-form">
																<h3>Misi&oacute;n</h3>
																	<hr>
																<br/>
																<p class="text-justify">Ser la empresa líder en suministro de equipos de climatización y ventilación y extracción  para la soluciones ambientales, entregando a sus clientes, productos de servicios que satisfagan sus necesidades y expectativas.</p>
                    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
											</div>
										</div>
									<div id="vision" class="col-md-6 span_2_of_3">
										<div class="contact-form">
											<h3>Visi&oacute;n</h3>	<hr>
																<br/>
																<p class="text-justify">
																Crecer a nivel de empresa con el fin de ser líderes en soluciones ambientales en el país.
																</p>
                     <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
											</div>
										</div>
									<div id="obras" class="col-md-6 span_2_of_3">
								    <div class="contact-form text-center">
								      <h3>Obras</h3>	<hr>
								                <p>Edificio Biblioteca de Universidad Salesiana</p>
								                <p>Ductería de Biblioteca UPS</p>
								                <p>Edificio de Administración de Universidad Salesiana</p>
								                <p>Sistema de Aire Acondicionado Capilla de Mall del Sol</p>
								                <p>Chimeneas de Generadores de Mall del Sol</p>
								                <p>Sistema de Inyección de Aire con Silenciadores Acústicos</p>
								                <br/>
                      <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
								      </div>
								  </div>
                  <div id="historia" class="col-md-6 span_2_of_3">
												<div class="text-center">
														<h3>Informaci&oacute;n de la Empresa</h3>	<hr>
														</br>
														<strong>
														<p>Wilson Enriquez</p>
														<p>Ruc 0939194019</p>
														<p>Tel. +593-938173919</p>	</strong>
												</div>
												<div>
												<h4 class="text-center">Breve historia de la empresa</h4>
											</br>
												<p style="text-align:justify;">Desde hace  20 años  estamos encaminados  en el &aacute;rea de la ingenier&iacute;a mec&aacute;nica, de la ventilaci&oacute;n industrial, aire acondicionado y soluciones ambientales.<br>
												En el &aacute;rea de la ventilaci&oacute;n industrial  diseñamos, construimos y realizamos mantenimiento a los sistemas de inyecci&oacute;n y extracci&oacute;n de aire de ambientes industriales  y  de cocinas industriales, con lo cual nos dirigimos a mejorar los ambientes  contaminados  tanto de olores  como de part&iacute;culas que se encuentran en estos medios de trabajo. Cabe señalar que en la construcci&oacute;n seguimos normas vigentes que rigen a estos sistemas para mejorar su eficiencia  y seguridad.<br>
												En lo referente al &aacute;rea de aire acondicionado, diseños, c&aacute;lculo y construcci&oacute;n de los sistemas de ductos. A la vez  suministramos los  equipos de aire acondicionado de todas las capacidades en el mercado y de todo tipo.
											    Estos servicios se han realizado en muchas empresas industriales y centros comerciales (patios de comida).
												</p>
												</div>
												<br>
												<div class="map">
		                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3986.861770902672!2d-79.90175978524474!3d-2.2058727983921544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d6e14f8c26db5%3A0x49a884cc44b19448!2sLos+R%C3%ADos+%26+Gral+Jos%C3%A9+A.G%C3%B3mez%2C+Guayaquil+090308!5e0!3m2!1ses-419!2sec!4v1465014386485" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
		                    </div>
										</div>
								</div>
							  </div>
					</div>
					</div>


  </div>
 </div>

<!---->
<div class="footer">
	 <div class="container">
		 <div class="footer-grids">
			 <div class="col-md-6 ftr-grid">
					<h3>Nuestros Productos</h3>
					<ul class="nav-bottom">
						<li><a href="#">Extractores en línea para conductos</a></li>
						<li><a href="#">Ventiladores centrífugos</a></li>
						<li><a href="#">Sistemas Presurización</a></li>
						<li><a href="#">Extractores de tejado</a></li>
						<li><a href="#">Accesorios</a></li>
					</ul>
			 </div>
			 <div class="col-md-6 ftr-grid">
				 <h3>Contacto</h3>
				 <ul class="nav-bottom">
					 <li>General Gomez 2012 y Los Ríos</li>
					 <li>Guayas - Guayaquil</li>
					 <li>Ecuador</li>
					 <li>Phone:(042) 513 374</li>
					 <li>Email: <a href="mailto:wilse56@hotmail.com">wilse56@hotmail.com</a></li>
					</ul>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<div class="copywrite">
	 <div class="container">
		 <div class="copy">
			 <p>© 2016 Wilenco -Ventiladores Industriales. Todos los derechos Reservados</p>
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
<!---->
</body>
</html>
