<!--
 Autor: Wilenco
 Nombre: index.html
 Descripcion: Página principal del Sitio web
 Version: 2.1
 Fecha de Creacion: Mayo 30/2016
 Ultima modificación: Julio 28/2016
 Ultimo modificador: Jorge Ayala
 License: Creative Commons Attribution 3.0 Unported
 License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<title>Wilenco | Inicio </title>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<!--theme style-->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!--JQUERY UPGRADED
<script src="{% static 'js/jquery.min.js' %}"></script>-->
<script src="{% static 'js/jquery-1.9.1.js' %}"></script>
<!--//theme style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Wedding Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- start menu -->
<script src="{% static 'js/simpleCart.min.js' %}"> </script>
<!-- start menu -->
<link href="{% static 'css/memenu.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/empresa.css' %}" rel="stylesheet" type="text/css" media="all" />
<script src="{% static 'js/memenu.js' %}"></script>
<script src="{% static 'js/empresa.js' %}"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>
<!-- /start menu -->
</head>
<body>
<!--header-->
<script src="{% static 'js/responsiveslides.min.js' %}"></script>
<script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: false,
      });
    });
  </script>

<div class="header-top">
	 <div class="header-bottom">
				<div class="logo">
					<h1><a href="/">WILENCO</a></h1>
				</div>
			 <!---->
			 <div class="top-nav">
				<ul class="memenu skyblue"><li class="active"><a href="/">Inicio</a></li>
					<li class="grid"><a href="/empresa/">Empresa</a>
					</li>
					<li class="grid"><a href="/productos/">Productos</a>
						<!-- <div class="mepanel">
							<div class="row">
								<div class="col1 me-one">
									<h4>Centrales de Aire</h4>
									<ul>
										<li><a href="product.html">Split</a></li>
										<li><a href="product.html">Piso Techo</a></li>
									</ul>
								</div>
								<div class="col1 me-one">
									<h4>Aires Acondicionados</h4>
									<ul>
										<li><a href="product.html">Piso Techo</a></li>
										<li><a href="product.html">Pared</a></li>
									</ul>
								</div>
								<div class="col1 me-one">
									<h4>Extractores</h4>
									<ul>
										<li><a href="product.html">Tipo Hongo</a></li>
										<li><a href="product.html">Centr&iacute;fugos</a></li>
										<li><a href="product.html">Multiwing</a></li>
									</ul>
								</div>
							</div>
						</div> -->
					</li>
					<li class="grid"><a href="/servicio/">Servicios</a></li>
					<li class="grid"><a href="/contacto/">Contacto</a></li>
				</ul>
			 </div>
			 <div class="cart box_1" style="float:right; margin-top:2em;" >
				<a href="/cotizacion/">
					<div class="total">
						(<span id="simpleCart_quantity" class="simpleCart_quantity"></span>)
					</div>
					<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
				</a>
				<p><a href="javascript:;" class="simpleCart_empty">Vaciar Carrito</a></p>
				<div class="clearfix"> </div>
			</div>
			 <!---->
			 <div class="clearfix"> </div>
			 <!---->
			 </div>
			<div class="clearfix"> </div>
</div>
<!---->
<div class="slider">
	  <div class="callbacks_container">
	     <ul class="rslides" id="slider">
         <li>
           <div class="banner2">
             <div class="banner-info">
               <h3>UPS</h3>
               <p>Edificio Administraci&oacute;n Universidad Politecnica Salesiana.</p>
            </div>
          </div>
         </li>
         <li>
             <div class="banner3">
               <div class="banner-info">
               <h3>UPS</h3>
                <p>Ducteria UPS.</p>
               </div>
             </div>
         </li>
	         <li>
      				 <div class="banner1">
      					  <div class="banner-info">
      					  <h3>MALL DEL SOL</h3>
                  <p>Sistema de Aire Acondicionado Capilla de Mall del Sol.</p>
      					  </div>
      				 </div>
	         </li>

      </ul>
	  </div>
  </div>
<!---->
<script src="{% static 'js/bootstrap.js' %}"> </script>

<div class="footer">
	 <div class="container">
		 <div class="footer-grids">
			 <div class="col-md-6 ftr-grid">
					<h3>Nuestros Productos</h3>
					<ul class="nav-bottom">
						<li><a href="#">Extractores en línea para conductos</a></li>
						<li><a href="#">Ventiladores centrífugos</a></li>
						<li><a href="#">Sistemas Presurización</a></li>
						<li><a href="#">Extractores de tejado</a></li>
						<li><a href="#">Accesorios</a></li>
					</ul>
			 </div>
			 <div class="col-md-6 ftr-grid">
				 <h3>Contacto</h3>
				 <ul class="nav-bottom">
					 <li>General Gomez 2012 y Los Ríos</li>
					 <li>Guayas - Guayaquil</li>
					 <li>Ecuador</li>
					 <li>Phone:(042) 513 374</li>
					 <li>Email: <a href="mailto:wilse56@hotmail.com">wilse56@hotmail.com</a></li>
					</ul>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>

<div class="copywrite">
	 <div class="container">
		 <div class="copy">
			 <p>© 2016 Wilenco -Ventiladores Industriales. Todos los derechos Reservados</p>
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
<!---->
</body>
</html>
