<!--
Autor: Wilenco
Nombre: product.html
Página de Productos
Ultima modificación: Junio 19/2016
Descripción:
En esta página, el usuario podrá obtener un catálogo de productos,en el cual podrá observar cada uno de ellos
por medio filtros, es decir podrá ver los productos ofrecidos por la empresa por tipo, marca, descripción,lo cual
facilita al usuario encontrar el producto que realmente necesita y busca-->
<!DOCTYPE html>
<html>
<!-- Seccion head de la pagina:
    Aqui se define el título de la página y todas las librerías que se necesitan para que funcione la página
-->
<head>
{% load staticfiles %}
<title>Wilenco | Productos</title>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<script src="{% static 'js/jquery-1.9.1.js' %}"></script>
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="{% static 'js/bootstrap.js' %}" ></script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="{% static 'js/simpleCart.min.js' %}"> </script>
<!-- menu de inicio -->
<link href="{% static 'css/memenu.css' %}" rel="stylesheet" type="text/css" media="all" />
<script src="{% static 'js/memenu.js' %}"></script>
<script src="{% static 'js/jspdf.js' %}"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>
<!-- menu de inicio -->
<link href="{% static 'css/form.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- the jScrollPane script -->
<script type="text/javascript" src="{% static 'js/jquery.jscrollpane.min.js' %}"></script>
		<script type="text/javascript" id="sourcecode">
			$(function()
			{
				$('.scroll-pane').jScrollPane();
			});
		</script>
<!--the jScrollPane script -->

<!--Codigo javascript que permite hacer a la página dinámica, es decir aquí se codifica
    lo que pasa cuando el usuario da clic sobre algún elemento de la página.
-->
<script>

</script>


<link href="{% static 'css/jquery.typeahead.css' %}" rel="stylesheet" type="text/css" media="all" />
<script src="{% static 'js/jquery.typeahead.js' %}"></script>
<script src="{% static 'js/product.js' %}"></script>

<!-- <script>
    $(document).ready(function () {
        var marcasSeleccionadas = []; // lista de marcas seleccionadas y que serviran para el ajax.

        $(".tab1 .single-bottom").hide();
        $(".tab2 .single-bottom").hide();
        $(".tab3 .single-bottom").hide();


        $(".tab1 ul").click(function () {
            $(".tab1 .single-bottom").slideToggle(300);
            $(".tab2 .single-bottom").hide();
            $(".tab3 .single-bottom").hide();

        })
        $(".tab2 ul").click(function () {
            $(".tab2 .single-bottom").slideToggle(300);
            $(".tab1 .single-bottom").hide();
            $(".tab3 .single-bottom").hide();
            $(".tab4 .single-bottom").hide();
            $(".tab5 .single-bottom").hide();
        })
        $(".tab3 ul").click(function () {
            $(".tab3 .single-bottom").slideToggle(300);
            $(".tab2 .single-bottom").hide();
            $(".tab1 .single-bottom").hide();
        })

        $('input:checkbox[class="marca_item"]').change(function () {
            if (this.checked) {
                var marca_elegida = $(this).val();
                marcasSeleccionadas.push(marca_elegida);
                alert("Las marcas elegidas: " + marcasSeleccionadas);
                //ejecutarFiltrado(marcasSeleccionadas);
            }
            else {
                //
                var marca_elegida = $(this).val();
                for (var i = marcasSeleccionadas.length - 1; i >= 0; i) {
                    if (marcasSeleccionadas[i] === marca_elegida) {
                        marcasSeleccionadas.splice(i, 1);
                    }
                }
                alert("Las marcas elegidas: " + marcasSeleccionadas);
                //ejecutarFiltrado(marcasSeleccionadas);
            }
        })

        function ejecutarFiltrado(marcasElegidas) {

            $.ajax({
                url: "productos/filtrar", // the endpoint,commonly same url
                type: "POST", // http method
                data: {
                    marcas_para_filtrado: marcasElegidas
                    //password : password
                }, // data sent with the post request

                // handle a successful response
                success: function (resultado) {
                    //productos_filtrados = [{"nombre" : "airesLG", },{"nombre":"tehcoSplit","imagen":"images/techoSplit.jpg" }]
                    alert("Funciona");
                    var catalogo_productos_filtrados = "";
                    var productos_filtrados = resultado.productos_por_marca;
                    for (var i = 0; i < productos_filtrados; i++) {
                        var productoActual = productos_filtrados[i];
                        catalogo_productos_filtrados = catalogo_productos_filtrados + '<div class="col-md-3 product-model-sec"><div class="more-product"><span> </span></div><div class="product-img b-link-stripe b-animate-go  thickbox" >'
                                                    + '<img src="{% static ' + productoActual.imagen + '  %}" class="img-responsive" alt="' + productoActual.nombre + '" ><div class="b-wrapper"><h4 class="b-animate b-from-left  b-delay03"><button><span class="glyphicon glyphicon-zoom-in" >'
                                                    + '</span>Quick View</button></h4></div></div><div class="product-info simpleCart_shelfItem"><div class="product-info-cust prt_name"><h4>' + productoActual.nombre
                                                    + '</h4><input type="button" class="item_add items" value="DETALLES"><input type="button" class="item_add items" value="AÑADIR"><div class="clearfix"> </div></div></div></div>';
                    }

                    $("#catalogo_productos").html(catalogo_productos_filtrados);
                },

                // handle a non-successful response
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });

        }

    });
</script>
Fin de script -->
</head>
<body>
<!--Aqui se encuentra definido el menu principal, el nombre de la empresa-->
<div class="header-top">
	 <div class="header-bottom">
				<div class="logo">
					<h1><a href="/">Wilenco</a></h1>
				</div>
			 <!---->
			 <div class="top-nav">
				<ul class="memenu skyblue"><li class="grid"><a href="/">Inicio</a></li>
					<li class="grid"><a href="/empresa/">Empresa</a>
					</li>
					<li class="active"><a href="/productos/">Productos</a>
						<!-- <div class="mepanel">
							<div class="row">
								<div class="col1 me-one">
									<h4>Centrales de Aire</h4>
									<ul>
										<li><a href="product.html">Split</a></li>
										<li><a href="product.html">Piso Techo</a></li>
									</ul>
								</div>
								<div class="col1 me-one">
									<h4>Aires Acondicionados</h4>
									<ul>
										<li><a href="product.html">Piso Techo</a></li>
										<li><a href="product.html">Pared</a></li>
									</ul>
								</div>
								<div class="col1 me-one">
									<h4>Extractores</h4>
									<ul>
										<li><a href="product.html">Tipo Hongo</a></li>
										<li><a href="product.html">Centr&iacute;fugos</a></li>
										<li><a href="product.html">Multiwing</a></li>
									</ul>
								</div>
							</div>
						</div> -->
					</li>
					<li class="grid"><a href="/servicio/">Servicios</a></li>
					<li class="grid"><a href="/contacto/">Contacto</a></li>
				</ul>
			 </div>
			 <!---->
			 <div class="clearfix"> </div>
			 <!---->
			 </div>
			<div class="clearfix"> </div>
</div>
<!-- Fin del Header-->

<!--En esta parte se define el catálogo de los productos-->
<div class="product-model">
	<div class="container">
		<ol class="breadcrumb">
			<li class="active">Productos</li>
		</ol>
		<div class=text-center>
			<img src="{% static 'images/logo_empresa.jpg' %}" alt="Samsung-Logos-HD"  class="img-circle" width="100" height="70" style="margin-top:20px">
		</div>
		<h2>Nuestros Productos</h2>
		<div class="col-md-9 product-model-sec">
			<!-- Estructura de Producto
			<a href="#">
			<div class="product-grid">
				<div class="more-product"><span></span></div>
				<div class="product-img b-link-stripe b-animate-go  thickbox">
					<img src="{% static 'images/si3.jpg' %}" class="img-responsive" />
					<div class="b-wrapper">
						<h4 class="b-animate b-from-left  b-delay03">
						<button><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>Ver M&aacute;s</button>
						</h4>
					</div>
				</div>
			</a>
				<div class="product-info simpleCart_shelfItem">
					<div class="product-info-cust prt_name">
						<h4>nombre producto</h4>
						<input type="text" class="item_quantity" value="1" />
						<input type="button" class="item_add items" value="ADD">
						<div class="clearfix"></div>
					</div>
				</div>
			</div> -->
		</div>
		<div class="rsidebar span_1_of_left">
			<div class="input-group">
				<input type="hidden" name="search_param" value="all" id="search_param">
				<form id="form-lista_productos" name="form-lista_productos">
				    <div class="typeahead__container">
				        <div class="typeahead__field">
				            <span class="typeahead__query">
				                <input class="form-control js-typeahead-lista_productos" name="lista_productos[query]" type="search" placeholder="Buscar producto..." autocomplete="off">
				            </span>
										<span class="typeahead__button">
										 <button type="button" id="btn_buscar">
												 <i class="typeahead__search-icon"></i>
										 </button>
								 </span>
				        </div>
				    </div>
				</form>
        <br>
	        </div>
			<div class="clearfix"> </div>
			<section  class="sky-form">
				<h4><span class="glyphicon glyphicon-minus" aria-hidden="true" onclick="$('#categorias_list').toggle('slow');"></span>Categorias</h4>
				<div class="row row1 scroll-pane">
					<div class="col col-4" id ="categorias_list">
						<!-- <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Categoria1</label> -->
						<!-- <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Categoria2</label> -->
					</div>
				</div>
			</section>
			<section  class="sky-form">
				<h4><span class="glyphicon glyphicon-minus" aria-hidden="true" onclick="$('#marcas_list').toggle('slow');"></span>Marcas</h4>
				<div class="row row1 scroll-pane">
					<div class="col col-4" id="marcas_list">
						<!-- <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>marca1</label> -->
						<!-- <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>marca2</label> -->
					</div>
				</div>
			</section>
			<div class="cart box_1 text-center" style="margin: 0 auto;">
					<a href="/cotizacion/">
   					<div class="total">
   					(<span id="simpleCart_quantity" class="simpleCart_quantity"></span>)</div>
   					<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
	   				</a>
	   				<p><a href="javascript:;" class="simpleCart_empty">Vaciar Carrito</a></p>
			 	<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<div class="subscribe">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<img src="{% static 'images/york-logo.jpg' %}" alt="york-logo" class="img-responsive" />
			</div>
			<div class="col-md-3">
				<img src="{% static 'images/carrierLogo.png' %}" alt="carrier-logo" class="img-responsive" />
			</div>
			<div class="col-md-3">
				<img src="{% static 'images/multiwingLogo.png' %}" alt="multiwing-logo" class="img-responsive" style="padding-top:0.5em;" />
			</div>
			<div class="col-md-3">
				<img src="{% static 'images/greenheckLogo.jpg' %}" alt="greenheck-logo" class="img-responsive"  style="padding-top:3em"/>
			</div>
		</div>
	</div>
</div>
<div class="footer">
	 <div class="container">
		 <div class="footer-grids">
			 <div class="col-md-6 ftr-grid">
					<h3>Nuestros Productos</h3>
					<ul class="nav-bottom">
						<li><a href="#">Extractores en línea para conductos</a></li>
						<li><a href="#">Ventiladores centrífugos</a></li>
						<li><a href="#">Sistemas Presurización</a></li>
						<li><a href="#">Extractores de tejado</a></li>
						<li><a href="#">Accesorios</a></li>
					</ul>
			 </div>
			 <div class="col-md-6 ftr-grid">
				 <h3>Contacto</h3>
				 <ul class="nav-bottom">
					 <li>General Gomez 2012 y Los Ríos</li>
					 <li>Guayas - Guayaquil</li>
					 <li>Ecuador</li>
					 <li>Phone:(042) 513 374</li>
					 <li>Email: <a href="mailto:wilse56@hotmail.com">wilse56@hotmail.com</a></li>
					</ul>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>

<div class="copywrite">
	 <div class="container">
		 <div class="copy">
			 <p>© 2016 Wilenco -Ventiladores Industriales. Todos los derechos Reservados</p>
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
<!---->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" style="color: #000;ffont-size: 2em;font-family: 'Dosis-Medium';">Detalle Producto</h4>
		</div>
		<div class="modal-body">
			<div class="container">
	  		  <div class="product-price1" style="margin-top:-5em !important">
	  			  <div class="top-sing">
	  				  <div class="col-md-7 single-top">
	  					  <img id="photoProducto" src="" data-imagezoom="true" class="img-responsive" style="width: 262px; height: 307px;" />
	  				  </div>
	  				  <script src="{% static 'js/imagezoom.js' %}"></script>
	  				  <div class="col-md-5 single-top-in simpleCart_shelfItem">
	  					  <div class="single-para " style="margin-left:-10em !important; margin-right:3em;">
	  						  <h4 class="item_price"></h4> <br>
	  						  <p class="para" ></p>
	  						  <div class="prdt-info-grid">
	  							   <ul>
	  							   </ul>
	  						  </div>
	  						  <p style="text-align:center;"><a href="#" class="add-cart item_add">A&ntilde;adir</a></p>

	  						  <br/><br/>
	  					  </div>
	  				  </div>
	  			  </div>
	  		  </div>
	  	  </div>
		</div>
		<div class="modal-footer">
    	</div>
    </div>

  </div>
</div>
</body>
</html>
