<!--
Autor: Wilenco
Nombre: product.html
Página de Productos
Ultima modificación: Junio 19/2016
Descripción:
En esta página, el usuario podrá obtener un catálogo de productos,en el cual podrá observar cada uno de ellos
por medio filtros, es decir podrá ver los productos ofrecidos por la empresa por tipo, marca, descripción,lo cual
facilita al usuario encontrar el producto que realmente necesita y busca
-->
<!DOCTYPE html>
<html>
<!--
Seccion head de la página:
    Aquí se define el título de la página y todas las librerías que se necesitan para que funcione la página
    -->
<head>
{% load staticfiles %}
<title>Wilenco | Productos</title>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<script src="{% static 'js/jquery-1.9.1.js' %}"></script>
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="{% static 'js/simpleCart.min.js' %}"> </script>
<!-- menu de inicio -->
<link href="{% static 'css/memenu.css' %}" rel="stylesheet" type="text/css" media="all" />
<script src="{% static 'js/memenu.js' %}"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>
<!-- menu de inicio -->
<link href="{% static 'css/form.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- the jScrollPane script -->
<script type="text/javascript" src="{% static 'js/jquery.jscrollpane.min.js' %}"></script>
		<script type="text/javascript" id="sourcecode">
			$(function()
			{
				$('.scroll-pane').jScrollPane();
			});
		</script>
<!-- //the jScrollPane script -->

<!--Codigo javascript que permite hacer a la página dinámica, es decir aquí se codifica
    lo que pasa cuando el usuario da clic sobre algún elemento de la página.
-->
<script>
    $(document).ready(function () {
        var marcasSeleccionadas = []; // lista de marcas seleccionadas y que serviran para el ajax.
        $(".tab1 .single-bottom").hide();
        $(".tab2 .single-bottom").hide();
        $(".tab3 .single-bottom").hide();


        $(".tab1 ul").click(function () {
            $(".tab1 .single-bottom").slideToggle(300);
            $(".tab2 .single-bottom").hide();
            $(".tab3 .single-bottom").hide();

        })
        $(".tab2 ul").click(function () {
            $(".tab2 .single-bottom").slideToggle(300);
            $(".tab1 .single-bottom").hide();
            $(".tab3 .single-bottom").hide();
            $(".tab4 .single-bottom").hide();
            $(".tab5 .single-bottom").hide();
        })
        $(".tab3 ul").click(function () {
            $(".tab3 .single-bottom").slideToggle(300);
            $(".tab2 .single-bottom").hide();
            $(".tab1 .single-bottom").hide();
        })

        $('input:checkbox[class="marca_item"]').change(function () {
            if (this.checked) {
                var marca_elegida = $(this).val();
                marcasSeleccionadas.push(marca_elegida);
                alert("Las marcas elegidas: " + marcasSeleccionadas);
                //ejecutarFiltrado(marcasSeleccionadas);
            }
            else {
                //
                var marca_elegida = $(this).val();
                for (var i = marcasSeleccionadas.length - 1; i >= 0; i--) {
                    if (marcasSeleccionadas[i] === marca_elegida) {
                        marcasSeleccionadas.splice(i, 1);
                    }
                }
                alert("Las marcas elegidas: " + marcasSeleccionadas);
                //ejecutarFiltrado(marcasSeleccionadas);
            }
        })

        function ejecutarFiltrado(marcasElegidas) {

            $.ajax({
                url: "productos/filtrar", // the endpoint,commonly same url
                type: "POST", // http method
                data: {
                    marcas_para_filtrado: marcasElegidas
                    //password : password
                }, // data sent with the post request

                // handle a successful response
                success: function (resultado) {
                    //productos_filtrados = [{"nombre" : "airesLG", },{"nombre":"tehcoSplit","imagen":"images/techoSplit.jpg" }]
                    alert("Funciona");
                    var catalogo_productos_filtrados = "";
                    var productos_filtrados = resultado.productos_por_marca;
                    for (var i = 0; i < productos_filtrados; i++) {
                        var productoActual = productos_filtrados[i];
                        catalogo_productos_filtrados = catalogo_productos_filtrados + '<div class="col-md-3 product-model-sec"><div class="more-product"><span> </span></div><div class="product-img b-link-stripe b-animate-go  thickbox" >'
                                                    + '<img src="{% static ' + productoActual.imagen + '  %}" class="img-responsive" alt="' + productoActual.nombre + '" ><div class="b-wrapper"><h4 class="b-animate b-from-left  b-delay03"><button><span class="glyphicon glyphicon-zoom-in" >'
                                                    + '</span>Quick View</button></h4></div></div><div class="product-info simpleCart_shelfItem"><div class="product-info-cust prt_name"><h4>' + productoActual.nombre
                                                    + '</h4><input type="button" class="item_add items" value="DETALLES"><input type="button" class="item_add items" value="AÑADIR"><div class="clearfix"> </div></div></div></div>';
                    }

                    $("#catalogo_productos").html(catalogo_productos_filtrados);
                },

                // handle a non-successful response
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });

        }

    });
</script>

<!--Fin de script -->



</head>
<body>
<!--header
    Aquí se encuentra definido el menú princiipal, el nombre de la empresa y su logo
    -->
<div class="header-top">
	 <div class="header-bottom">
				<div class="logo">
					<h1><a href="/">Wilenco</a></h1>
				</div>
			 <!---->
			 <div class="top-nav">
				<ul class="memenu skyblue"><li class="active"><a href="/">Inicio</a></li>
                <li class="grid"><a href="/empresa/">Empresa</a>
					</li>
					<li class="grid"><a href="/productos/">Productos</a>
						<div class="mepanel">
							<div class="row">
								<div class="col1 me-one">
									<h4>Centrales de Aire</h4>
									<ul>
										<li><a href="product.html">Split</a></li>
										<li><a href="product.html">Piso Techo</a></li>
									</ul>
								</div>
								<div class="col1 me-one">
									<h4>Aires Acondicionados</h4>
									<ul>
										<li><a href="product.html">Piso Techo</a></li>
										<li><a href="product.html">Pared</a></li>
									</ul>
								</div>
								<div class="col1 me-one">
									<h4>Extractores</h4>
									<ul>
										<li><a href="product.html">Tipo Hongo</a></li>
										<li><a href="product.html">Centr&iacute;fugos</a></li>
										<li><a href="product.html">Multiwing</a></li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li class="grid"><a href="/servicio/">Servicios</a></li>
					<li class="grid"><a href="/contacto/">Cont&aacute;ctenos</a></li>
				</ul>
			 </div>
			 <!---->
			 <div class="clearfix"> </div>
			 <!---->
			 </div>
			<div class="clearfix"> </div>
</div>

<!-- Fin del Header-->

<!--En esta parte se define el catálogo de los productos-->
<div class="container-fluid">
    <!---->
    <div id ="seccion_buscar_carroCompras_categoria" class="row">
                <div class="col-sm-4">
                       <h4>Categorías <select>
                        <option value="volvo">Volvo</option>
                        </select>
                        </h4>
                </div>
                <div class="col-sm-4">
                    <form>
                        <input type="text" placeholder="Buscar..." required>
                        <input type="button" value="Buscar">
                </form>
                </div>
                <div class="col-sm-4">
                    <div class="cart box_4">
				             <a href="#">
					            <div class="total">
					            <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span>)</div>
					            <span class="glyphicon glyphicon-shopping-cart" ></span>
				            </a>
				            <p><a href="javascript:;" class="simpleCart_empty">Carrito</a></p>
			 	            <div class="clearfix"> </div>
			             </div>
                </div>

            </div>
    

    <div id="opciones_catalogo" class="row">
        <div class="rsidebar span_1_of_left">
				 <section  class="sky-form">
					 <div class="product_right">
						 <h4 class="m_2"><span class="glyphicon glyphicon-minus" ></span>CATÁLOGO</h4>
						 <div class="tab1">
							 <ul class="place">
								 <li class="sort">TIPO</li>
								 <li class="by"><img src="{% static 'images/do.png' %}" alt="flechaTipo"></li>
									<div class="clearfix"> </div>
							  </ul>
							 <div class="single-bottom">
                                    <form>
                                        <input type="checkbox" class="tipo_item" value="Centrales" /> Centrales </br>                     
                                        <input type="checkbox" class="tipo_item" value="Extractores" /> Extractores </br>
                                        <input type="checkbox" class="tipo_item" value="Aires" /> Aires </br>
                                        <input type="checkbox" class="tipo_item" value="Ventiladores" /> Ventiladores
                                    </form>
                                   
						     </div>
					      </div>
						  <div class="tab2">
							 <ul class="place">
								 <li class="sort">MARCA</li>
								 <li class="by"><img src="{% static 'images/do.png' %}" alt="flechaMarca"></li>
									<div class="clearfix"> </div>
							  </ul>
							 <div class="single-bottom">
                                    <form>
                                        <input type="checkbox" class="marca_item" value="Carrier" /> Carrier </br>                     
                                        <input type="checkbox" class="marca_item" value="York" /> York </br>
                                        <input type="checkbox" class="marca_item" value="Multiwing" /> Multiwing </br>
                                    </form>
									
						     </div>
					      </div>
						 </div>

						  

				 </section>

			 </div>
        </div>

<div class="product-model">
    <h2>Productos</h2>
	 <div id="catalogo_productos" class="container">
<!--En esta sección se colocan los Productos dentro de contenedores div-->
	    
		 <div class="col-md-3 product-model-sec">
					 
						<div class="more-product"><span> </span></div>
						<div class="product-img b-link-stripe b-animate-go  thickbox">
							<img src="{% static 'images/SplitPared.jpg' %}" class="img-responsive" alt="SplitPared" width="102" height="102">
							<div class="b-wrapper">
							<h4 class="b-animate b-from-left  b-delay03">
							<button><span class="glyphicon glyphicon-zoom-in" ></span>Quick View</button>
							</h4>
							</div>
						</div>
                        <div class="product-info simpleCart_shelfItem">
							<div class="product-info-cust prt_name">
								<h4>Split Pared</h4>
								<input type="button" class="item_add items" value="DETALLES">
								<input type="button" class="item_add items" value="AÑADIR">
								<div class="clearfix"> </div>
							</div>

						</div>
                     
                     
						
			</div>

         <div class="col-md-3 product-model-sec">
					 <!--<div class="product-grid">-->
						<div class="more-product"><span> </span></div>
						<div class="product-img b-link-stripe b-animate-go  thickbox">
							<img src="{% static 'images/ExtractorHongo.jpg' %}" class="img-responsive" alt="ExtractorHongo" width="102" height="102">
							<div class="b-wrapper">
							<h4 class="b-animate b-from-left  b-delay03">
							<button><span class="glyphicon glyphicon-zoom-in" ></span>Quick View</button>
							</h4>
							</div>
						</div>
                         <div class="product-info simpleCart_shelfItem">
							<div class="product-info-cust prt_name">
								<h4>Extractor Hongo</h4>
								<input type="button" class="item_add items" value="DETALLES">
								<input type="button" class="item_add items" value="AÑADIR">
								<div class="clearfix"> </div>
							</div>

						</div>
                     <!--</div>-->
						
			</div>

         <div class="col-md-3 product-model-sec">
					
						<div class="more-product"><span> </span></div>
						<div class="product-img b-link-stripe b-animate-go  thickbox">
							<img src="{% static 'images/chimenea.jpg' %}" class="img-responsive" alt="chimenea">
							<div class="b-wrapper">
							<h4 class="b-animate b-from-left  b-delay03">
							<button><span class="glyphicon glyphicon-zoom-in" ></span>Quick View</button>
							</h4>
							</div>
						</div>
                        <div class="product-info simpleCart_shelfItem">
							<div class="product-info-cust prt_name">
								<h4>Chimenea</h4>
								<input type="button" class="item_add items" value="DETALLES">
								<input type="button" class="item_add items" value="AÑADIR">
								<div class="clearfix"> </div>
							</div>

						</div>
                     
                     
						
			</div>

         <div class="col-md-3 product-model-sec">
					 
						<div class="more-product"><span> </span></div>
						<div class="product-img b-link-stripe b-animate-go  thickbox">
							<img src="{% static 'images/Multiwing.jpg' %}" class="img-responsive" alt="Multiwing">
							<div class="b-wrapper">
							<h4 class="b-animate b-from-left  b-delay03">
							<button><span class="glyphicon glyphicon-zoom-in" ></span>Quick View</button>
							</h4>
							</div>
						</div>
                        <div class="product-info simpleCart_shelfItem">
							<div class="product-info-cust prt_name">
								<h4>Multiwing</h4>
								<input type="button" class="item_add items" value="DETALLES">
								<input type="button" class="item_add items" value="AÑADIR">
								<div class="clearfix"> </div>
							</div>

						</div>
			</div>
         <div class="col-md-3 product-model-sec">
					 
						<div class="more-product"><span> </span></div>
						<div class="product-img b-link-stripe b-animate-go  thickbox" >
							<img src="{% static 'images/ofr.jpg' %}" class="img-responsive" alt="ofr" >
							<div class="b-wrapper">
							<h4 class="b-animate b-from-left  b-delay03">
							<button><span class="glyphicon glyphicon-zoom-in" ></span>Quick View</button>
							</h4>
							</div>
						</div>
                        <div class="product-info simpleCart_shelfItem">
							<div class="product-info-cust prt_name">
								<h4>ofr</h4>
								<input type="button" class="item_add items" value="DETALLES">
								<input type="button" class="item_add items" value="AÑADIR">
								<div class="clearfix"> </div>
							</div>

						</div>
                     
                     
						
			</div>
         <div class="col-md-3 product-model-sec">
					 
						<div class="more-product"><span> </span></div>
						<div class="product-img b-link-stripe b-animate-go  thickbox">
							<img src="{% static 'images/SplitPared.jpg' %}" class="img-responsive" alt="SplitPared">
							<div class="b-wrapper">
							<h4 class="b-animate b-from-left  b-delay03">
							<button><span class="glyphicon glyphicon-zoom-in" ></span>Quick View</button>
							</h4>
							</div>
						</div>
                        <div class="product-info simpleCart_shelfItem">
							<div class="product-info-cust prt_name">
								<h4>Split Pared</h4>
								<input type="button" class="item_add items" value="DETALLES">
								<input type="button" class="item_add items" value="AÑADIR">
								<div class="clearfix"> </div>
							</div>

						</div>
                     
                     
						
			</div>
					
                     

		</div>

  </div>
</div>
<!--Fin de catalogo de productos-->

<!--En esta parte se define las marcas de la empresa-->
<div id ="marcas" class="row">
    <div class="col-sm-3">

    <img src="{% static 'images/york-logo.jpg' %}" alt="york-logo" class="img-responsive" >

    </div>
    <div class="col-sm-3">

    <img src="{% static 'images/baxi-logo.png' %}" alt="baxi-logo" class="img-responsive" >

    </div>
    <div class="col-sm-3">

    <img src="{% static 'images/Panasonic_logo.png' %}" alt="Panasonic_logo" class="img-responsive" >

    </div>
    <div class="col-sm-3">

    <img src="{% static 'images/Samsung-Logos-HD.gif' %}" alt="Samsung-Logos-HD" class="img-responsive" >

    </div>

</div>
<!--FIN marcas-->

<!---->
<div class="footer">
	 <div class="container">
		 <div class="footer-grids">
			 <div class="col-md-6 ftr-grid">
					<h3>Nuestros Productos</h3>
					<ul class="nav-bottom">
						<li><a href="#">Extractores en línea para conductos</a></li>
						<li><a href="#">Ventiladores centrífugos</a></li>
						<li><a href="#">Sistemas Presurización</a></li>
						<li><a href="#">Extractores de tejado</a></li>
						<li><a href="#">Accesorios</a></li>
					</ul>
			 </div>
			 <div class="col-md-6 ftr-grid">
				 <h3>Contacto</h3>
				 <ul class="nav-bottom">
					 <li>General Gomez 2012 y Los Ríos</li>
					 <li>Guayas - Guayaquil</li>
					 <li>Ecuador</li>
					 <li>Phone:(042) 513 374</li>
					 <li>Email: <a href="mailto:wilse56@hotmail.com">wilse56@hotmail.com</a></li>
					</ul>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>

<div class="copywrite">
	 <div class="container">
		 <div class="copy">
			 <p>© 2016 Wilenco -Ventiladores Industriales. Todos los derechos Reservados</p>
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
<!---->
</body>
</html>
